*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  --primary-color:rgb(58, 58, 239);
  --fam1:'Trebuchet MS';
  --fam2:'Franklin Gothic Medium';
}
input{
  outline: none;
}
nav{
  background-color: var(--primary-color);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-family: var(--fam2);
  padding: 8px 40px;
  height: 50px;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 2;
}
nav .bars{
  display: none;
}
nav #search{
  display: none;
}
nav input{
 border: none;
 padding: 5px 8px;
 border-radius: 10px;
 width: 250px;
}
nav ul{
  list-style: none;
}
nav li{
  float: left;
  padding: 8px 12px;
  color: white;
}
nav h1{
  color: white;
  font-size: 25px;
  font-family:var(--fam1) ;
  text-decoration: none;
}
nav .bars{
  display: none;
}
nav .optionsContainer{
  width: 45%;
}
nav .options{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}
.rightBar{
  width:18%;
  max-height: calc(100vh - 50px);
  border-right: solid 1px gray;
  position: fixed;
  top: 50px;
  left: 0;
  overflow-y: scroll;
  transition: ease 0.3s;
}
.rightBar .options{
  border-bottom: solid 1px rgb(30, 30, 30);
  width: 90%;
  margin-left: 5%;
}
.rightBar .options div{
  padding: 12px;
  padding-left: 40px;
  font-family: var(--fam1);
  color: rgb(30, 30, 30);
}
.friend{
  width: 90%;
  margin-left: 5%;
  display: flex;
  flex-direction: row;
  padding: 8px 10px;
  align-items: center;
  position: relative;
}
.friend .imgContainer{
  width: 50px;
  height: 50px;
}
.friend .imgContainer img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}
.hide{
  display: none;
}
.friend .buble{
  position: absolute;
  top: 8%;
  left: 45px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  z-index: 1;
  background-color: green;
  border: solid 2px white;
}
.friend .name{
  width: 75%;
  font-family: var(--fam1);
  font-size: 14px;
  text-align: center;
}
.sec{
  position: relative;
  margin-top: 50px;
  margin-left: 18%;
}
.sideBar{
  position: absolute;
  top: 0;
  right: 0;
  width: 25%;
  border-left: solid 1px gray;
  border-bottom: solid 1px gray;
  min-height: calc(100vh - 50px);
}
.sideBar h1{
  margin-bottom: 25px;
  color: rgb(30, 30, 30);
  font-family: var(--fam2);
  margin-left: 15px;
  margin-top: 10px;
}
.middle{
  width: 70%;
  margin-left: 2.5%;
  padding-top: 50px;
}
.news{
  width: 100%;
  border-radius: 10px;
  box-shadow: 0px 2px 10px gray;
  padding: 10px;
}
.news .imgContainer{
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
.news .imgContainer img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}
.news .topNews{
  display: flex;
  align-items: center;  
  height: 90px;
  justify-content: space-between;
  border-bottom: solid 1px gray;
  padding-bottom: 10px;
}
.news .topNews .inputContainer{
  width:90%;
  height: 100%;
}
.news .topNews input{
  width:100%;
  height: 100%;
  border: none;
  padding: 6px;
}
.news .choices{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90px;
  padding: 12px;
  font-family: 'Franklin Gothic Medium';
  color: rgb(52, 51, 51);
}
.news .choices div{
  display: flex;
}
.news .choices div p{
  margin-left: 5px;
}
.news .choices button{
  padding: 8px 15px;
  background-color:rgb(3, 109, 3);
  color: white;
  border: none;
  font-family: var(--fam2);
  border-radius: 8px;
}
#fileDisplayArea{
  width: 100%;
  height: 400px;
  padding-bottom: 10px;
}
#fileDisplayArea img  {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border: solid 1px rgb(52, 51, 51);
}
label.label input[type="file"] {
  position: absolute;
  top: -1000%;
}
.label {
  cursor: pointer;
  border: none;
  border-radius: 5px;
  padding: 0px 0px;
  background: white;
  display: inline-block;
}
.label:active {
  background: #9fa1a0;
}
.label:invalid+span {
  color: #000000;
}
.label:valid+span {
  color: #ffffff;
}
.Post{
  width: 100%;
  border-radius: 10px;
  box-shadow: 0px 2px 10px gray;
  padding: 10px;
  margin-top: 25px;
}
.Post .headerContainer{
  width: fit-content;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
}
.Post .headerContainer div:nth-child(1){
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 15px;
}
.Post .headerContainer div:nth-child(1) img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}
.Post .headerContainer div:nth-child(2){
  display: flex;
  align-items: center;
  gap: 5px;
}
.Post .headerContainer div:nth-child(2) h1{
  font-size: 15px;
  font-family: var(--fam2);
}
.Post .headerContainer div:nth-child(2) p{
  font-size: 12px;
  font-family: var(--fam1);
  color: rgb(52, 51, 51);
}
.Post .attContainer{
  width: 100%;
  padding: 20px;
}
.Post .attContainer div:nth-child(1) h1{
  font-size: 16px;
  color: rgb(30, 30, 30);
  float: left;
  font-family: var(--fam1);
  padding-bottom: 10px;
}
.Post .attContainer div:nth-child(2){
  width: 100%;
  height: 400px;
}
.Post .attContainer div:nth-child(2) img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.Post .likesComm{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.Post .likesComm div:nth-child(1){
  display: flex;
  padding-top: 10px;
}
.Post .likesComm i{
  margin-right: 10px;
  cursor: pointer;
}
.coverProfile .coverContainer{
  width: 100%;
  height: 250px;
}
.coverProfile .coverContainer img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.coverProfile .profileInfos{
  position: relative;
  height: 200px;
}
.coverProfile .profileInfos .pdp{
  position: absolute;
  top: -100px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  width: 200px;
  height: 200px;
}
.coverProfile .profileInfos .pdp img{
  width: 100%;
  height: 100%;
  border: solid 3px white;
  border-radius: 50%;
}
.coverProfile .profileInfos .status{
  position: absolute;
  top : 110px;
  left: 50%;
  text-align: center;
  transform: translateX(-50%);
}
.container{
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.postsandothers{
  position: relative;
  flex: 1 0 60%;
  padding-left: 15px;
}
.userInfo {
  padding: 25px;
}
.userInfo h1{
  font-size: 20px;
  font-family: 'Trebuchet MS';
  margin-bottom: 10px;
}
.userInfo .userInformation p{
  font-size: 15px;
  font-family: 'Trebuchet MS';
  color:rgb(52, 51, 51);
  margin-bottom: 7px;
}
.userInfo .friendContainer{
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows:auto auto;
  gap: 0px;
}
.userInfo .friendContainer h1{
  font-size: 14px;
}
.userInfo .friendContainer .friend{
  display: flex;
  flex-direction: column;
}
.userInfo .friendContainer .friend div{
  width: 100%;
  height: 150px;
}
.userInfo .friendContainer .friend img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media screen and (max-width:1320px){
  .postsandothers{
    padding-left: 7px;
  }
  .userInfo {
    padding: 0px;
  }
}
@media  screen and (max-width:1020px) {
  nav h1{
    font-size: 20px;
  }
  nav input{
    width: 200px;
  }
  .sec{
    margin-left: 0;
  }
  .rightBar{
    width: 0px;
    z-index: 1;
  }
  .userInfo{
    padding: 0;
  }
  .userInfo .friendContainer{
    grid-template-columns: auto auto;
    grid-template-rows:auto auto auto;
  }
  .postsandothers{
    flex: 1 0 70%;
  }
}
@media  screen and (max-width:820px) {
  nav .bars{
    display: block;
    color: white;
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
    float: right;
  }
  nav .optionsContainer{
    width: 25%;
  }
  nav h1{
    font-size: 18px;
  }
  nav .options {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: whitesmoke;
    width: 100%;
    transform: translateY(-200%);
    opacity: 0;
    border-left: solid 2px black;
    border-bottom: solid 2px black;
    padding-bottom: 50px;
    transition: ease 0.3s;
    overflow: hidden;
  }
  nav  li{
    float: none;
    text-decoration: none;
    padding: 15px;
    padding-top: 25px;
    color: rgb(30, 30, 30);
  }
  .userInfo .friendContainer{
    grid-template-columns: auto;
    grid-template-rows:auto auto auto auto auto auto;
  }
  .postsandothers{
    flex: 1 0 75%;
  }
  .news .choices div p,.news .choices div span{
    margin-left: 2px;
    font-size: 12px;
  }
  .friend .name{
    font-size: 10px;
  }
  .friend{
    width: 95%;
    margin-left: 2.5%;
    padding: 5px 7px;
  }
}
@media screen and (max-width:660px) {
  nav input{
    width: 300px;
    position: absolute;
    bottom:-70%;
    display: none;
    left: 50%;
    transform: translateX(-50%);
    border: solid 4px blue;
    transition: ease 0.3s;
  }
  .sideBar{
    display: none;
  }
  .middle{
    width: 95%;
    margin-left: 2.5%;
  }
  nav #search{
    display: block;
  }
  .container{
    flex-direction: column-reverse;
  }
  .userInfo {
    padding: 25px;
    text-align: center;
  }
  .userInfo .userInformation{
    margin-bottom: 25px;
  }
  .userInfo .friendContainer{
    grid-template-columns: auto auto auto;
    grid-template-rows:auto auto;
    gap: 10px;
    border-radius: 25px;
    border: solid 3px black;
    padding: 10px;
  }
  .userInfo .friendContainer .friend img{
    border-radius: 15px;
  }
  .middle{
    width: 100%;
    margin-left: 0px;
  }
  .postsandothers{
    padding-left: 0px;
  }
  .coverProfile .profileInfos .status h1{
    font-size: 25px;
  }
  .coverProfile .profileInfos .status p{
    font-size: 20px;
  }
  .news .choices div p,.news .choices div span{
    margin-left: 2px;
    font-size: 10px;
  }
}